{% load static %}
<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
    <title>Courses | UdemyfreeBy</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <script src="https://cdn.tailwindcss.com"></script>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Arima:wght@100..700&family=DynaPuff:wght@400..700&family=Gabarito:wght@400..900&family=Noto+Serif+Display:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">

</head>
<body>
<header>
    <nav class="bg-white ">
        <div class="max-w-7xl mx-auto px-2 sm:px-6 lg:px-8">
            <div class="relative flex items-center justify-between h-16">
                <!-- Menu icon for mobile -->
                <div class="absolute inset-y-0 left-0 flex items-center sm:hidden">
                    <button id="menu-button" class="inline-flex items-center justify-center p-2 rounded-md text-gray-900 hover:bg-gray-200 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-offset-gray-100 focus:ring-gray-500">
                        <span class="sr-only">Ouvrir le menu</span>
                        <svg class="h-6 w-6" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16m-7 6h7"></path>
                        </svg>
                    </button>
                </div>
                <div class="flex-1 flex items-center justify-center sm:items-stretch sm:justify-start">
                    <div class="flex-shrink-0">
                        <a href="/">
                            <div class="flex items-center justify-center">
                                <img src="{% static 'images/Udemy.png' %}" alt="Udemy Logo" class="h-16">
                            </div>
                        </a>
                    </div>
                </div>
                <!-- Navigation for larger screens -->
                <div class="hidden sm:flex sm:gap-x-6">
                    <a href="/" class="text-sm font-semibold leading-6 text-gray-900">Accueil</a>
                    <a href="/courses" class="text-sm font-semibold leading-6 primary">Courses</a>
                    <a href="/how-to-use" class="text-sm font-semibold leading-6 text-gray-900">How to Use</a>
                </div>
                <!-- Contact Us aligned to the right -->
                <div class="hidden sm:flex sm:flex-1 sm:justify-end">
                    <a href="/how-to-use#contact" class="text-sm font-semibold leading-6 text-gray-900">Contacte us</a>
                </div>
            </div>
        </div>
    </nav>

    <!-- Mobile menu, hidden by default -->
    <div id="mobile-menu" class="fixed inset-0 bg-white  z-50 hidden">
        <div class="flex items-center justify-between">
            <a href="#" class="-m-1.5 p-1.5 ml-5">
              <span class="sr-only">Your Company</span>
              <img class="h-16 w-auto" src="{% static 'images/Udemy.png' %}" alt="">
            </a>
            <button id="close-button" class="-m-2.5 rounded-md p-2.5 text-gray-700 mr-5">
                <svg class="h-6 w-6" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12"></path>
                </svg>
            </button>
        </div>
        <div class="mt-6 flow-root">
          <div class="-my-6 divide-y ">
            <div class="space-y-2 py-6">
              <a href="/" class="-mx-3 ml-5 block rounded-lg px-3 py-2 text-base font-semibold leading-7 text-gray-900 hover:bg-gray-50">Accueil</a>
              <a href="/courses" class="-mx-3 ml-5 block rounded-lg px-3 py-2 text-base font-semibold leading-7 style primary hover:bg-gray-50">Courses</a>
              <a href="/how-to-use" class="-mx-3 ml-5 block rounded-lg px-3 py-2 text-base font-semibold leading-7 text-gray-900 hover:bg-gray-50">How to Use</a>
            </div>
            <div class="py-6 ">
              <a href="/how-to-use#contact" class="-mx-3 ml-5 block rounded-lg px-3 py-2.5 text-base font-semibold leading-7 text-gray-900 hover:bg-gray-50">contact us</a>
            </div>
          </div>
    </div>
</header>

<section class="flex flex-col lg:flex-row">
  <!-- Section de gauche pour la liste de produits (3/4 de l'espace) -->
  <div class="flex-1 lg:w-3/4 bg-gray-100 p-4 lg:p-6">
      <h1 class="text-2xl font-bold mb-6 text-center primary style">Liste des cours</h1>
      <div class="mt-4">
        <p class="text-sm text-gray-700">
            Affichage <span class="font-medium">{{ products.start_index }} à {{ products.end_index }}</span> de
            <span class="font-medium">{{ products.paginator.count }}</span> résultats
        </p>
      </div>

      <!-- Affichage des produits -->
      {% if products %}
          <ul class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-6">
              {% for product in products %}
                  <li class="bg-white p-4 rounded-lg shadow-lg transition-transform transform hover:scale-105">
                      <a href="{% url 'product_detail' product.id %}" class="text-lg font-semibold text-[#41EAD4] hover:underline">{{ product.title }}</a>
                      <img src="{{ product.image_url }}" alt="{{ product.title }}" class="w-full h-40 object-cover rounded-lg mt-2 mb-2">
                      <span class="block mt-2 text-lg font-bold text-green-500 text-right">
                          {% if product.new_price > 0 %}
                              {{ product.new_price }} € à Gratuit
                          {% else %}
                              Gratuit
                          {% endif %}
                      </span>
                  </li>
              {% endfor %}
          </ul>

          <!-- Affichage du nombre de résultats -->
          <div class="mt-4">
              <p class="text-sm text-gray-700">
                  Affichage <span class="font-medium">{{ products.start_index }} à {{ products.end_index }}</span> de
                  <span class="font-medium">{{ products.paginator.count }}</span> résultats
              </p>
          </div>

          <!-- Pagination -->
          <div class="flex items-center justify-center border-t border-gray-200 bg-white px-4 py-3 sm:px-6">
              <nav class="isolate inline-flex -space-x-px rounded-md shadow-sm" aria-label="Pagination">
                  {% if products.has_previous %}
                      <a href="?page=1&search={{ search_query }}&category={{ selected_category }}" class="relative inline-flex items-center rounded-l-md border border-gray-300 bg-white px-2 py-2 text-gray-400 hover:bg-gray-50">
                          <span class="sr-only">Première</span>
                          &lt;&lt;
                      </a>
                  {% endif %}
                  {% for page_num in products.paginator.page_range %}
                      {% if page_num >= products.number|add:-2 and page_num <= products.number|add:1 %}
                          {% if page_num == products.number %}
                              <span class="relative inline-flex items-center px-4 py-2 text-sm font-semibold text-white bg-custom-red">{{ page_num }}</span>
                          {% else %}
                              <a href="?page={{ page_num }}&search={{ search_query }}&category={{ selected_category }}" class="relative inline-flex items-center px-4 py-2 text-sm font-semibold text-gray-900 ring-1 ring-inset ring-gray-300 hover:bg-gray-50">{{ page_num }}</a>
                          {% endif %}
                      {% endif %}
                  {% endfor %}
                  {% if products.has_next %}
                      <a href="?page={{ products.paginator.num_pages }}&search={{ search_query }}&category={{ selected_category }}" class="relative inline-flex items-center rounded-r-md border border-gray-300 bg-white px-2 py-2 text-gray-400 hover:bg-gray-50">
                          <span class="sr-only">Dernière</span>
                          &gt;&gt;
                      </a>
                  {% endif %}
              </nav>
          </div>
      {% else %}
          <p class="text-gray-700 text-center">Aucun produit trouvé. <a href="?search=&category=" class="text-custom-orange hover:underline">Afficher tous les produits</a>.</p>
      {% endif %}
  </div>

  <!-- Section de droite pour recherche et top courses (1/4 de l'espace) -->
  <div class="lg:w-1/4 bg-white p-4 lg:p-6">
      <h2 class="text-xl font-bold mb-4 text-center style primary">Recherche et Catégories</h2>
      
      <!-- Formulaire de recherche -->
      <div class="mb-4">
        <form method="GET" action="" class="flex flex-col space-y-2">
            <input type="text" name="search" value="{{ search_query }}" placeholder="Rechercher..." class="border border-gray-300 rounded-lg px-4 py-2">
            
            <select name="category" class="border border-gray-300 rounded-lg px-4 py-2">
                <option value="">Toutes les catégories</option>
                {% for category in categories %}
                    <option value="{{ category.id }}" {% if category.id == selected_category %}selected{% endif %}>{{ category.name }}</option>
                {% endfor %}
            </select>
            
            <button type="submit" class="rounded-md bg-[#FF9F1C] px-3.5 py-2.5 text-sm font-semibold text-white shadow-sm hover:bg-[#F71735] focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-[#F71735]">Rechercher</button>
        </form>
      </div>

      <h2 class="text-xl font-bold mb-4 text-center style primary">Cours Aléatoires</h2>
      <div class="flex flex-col space-y-4">
          {% for course in random_courses %}
              <div class="bg-white p-4 rounded-lg shadow-md">
                  <a href="{% url 'product_detail' course.id %}" class="text-lg font-semibold text-[#41EAD4] hover:underline">{{ course.title }}</a>
                  <img src="{{ course.image_url }}" alt="{{ course.title }}" class="w-full h-32 object-cover rounded mt-2">
                  <span class="mt-2 text-lg font-bold text-green-500">
                      {% if course.new_price > 0 %}
                          {{ course.new_price }} € à Gratuit
                      {% else %}
                          Gratuit
                      {% endif %}
                  </span>
              </div>
          {% endfor %}
      </div>
      <!-- Section Publicitaire -->
      <div class="mt-4 p-4 bg-yellow-100 rounded-lg text-center">
        <h3 class="text-lg font-bold mb-2">Publicité</h3>
        <p class="text-gray-700">Votre annonce ici!</p>
        <a href="#" class="text-blue-500 hover:underline">En savoir plus</a>
    </div>
  </div>
</section>

<footer class="bg-[#011627] text-white py-4">
  <div class="container mx-auto flex items-center justify-between px-4">
      <a href="/">
        <img src="{% static 'images/Udemy (1).png' %}" alt="Logo" class="h-8" />
      </a>
      
      <div class="flex-1 text-center">
          <a href="/courses" class="text-sm hover:underline mx-2">Courses</a>
      </div>

      <p class="text-sm">© 2024 <span class="style text-[#ff9f1c]">Cauxhy</span>, Inc. All rights reserved.</p>
  </div>
</footer>



<script src="{% static 'js/script.js' %}"></script>
</body>
</html>
